.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__list {
    display: inline-block;
    list-style: none;
    border-top: 1px solid $color-grey-light-2;
    padding-top: 2rem;
  }

  &__item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__disclaimer {
    border-top: 1px solid $color-grey-light-2;
    color: $color-grey-light-1;
    width: 85%;
    float: right;
    padding-top: 2rem;
  }
}